<% layout('layouts/boilerplate') %>

<div class="container mt-5">
  <div class="alert alert-danger text-center">
    <h4>Error</h4>
    <p><%= message %></p>
    <a href="/listings" class="btn btn-dark mt-3">Go Back</a>
  </div>
</div>
